Atreish Ramlakhan
AIM 5011: Natural Language Processing 
Fall 2021
Module 8

In [1]:
import pandas as pd                        
import numpy as np                        
import matplotlib                          
import matplotlib.pyplot as plt            
import nltk                                
import re                                  
import string                             
nltk.download('stopwords')                
nltk.download('brown')                
from nltk.corpus import stopwords          
from nltk.corpus import brown               
from nltk.stem import PorterStemmer        
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/atreish/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package brown to /Users/atreish/nltk_data...
[nltk_data]   Package brown is already up-to-date!

# 1.3.5: Exercise: BOW with n-gramÂ¶
Use the brown corpus to create a n-gram BOW model. First, you must clean and organize the data. Then enter your code to complete the exercise.

The Brown Corpus is an collection of text samples of American English categorized by various genres such as science-fiction, adventure, etc.

Create a tri-gram bag of words matrix using the brown corpus as its inputs.

In [2]:
np.random.seed(100)
brown_cat= brown.categories()

docs=[] 
for cat in brown_cat: # We append tuples of each document and categories in a list
    t1 = brown.sents(categories=cat) # At each iteration we retrieve all documents of a given category
    for doc in t1:
        docs.append((' '.join(doc), cat)) # These documents are appended as a tuple (document, category) in the list

brown_df=pd.DataFrame(docs, columns=['sentence', 'category']) #The data frame is created using the generated tuple.
brown_df.head()

                                            sentence   category
0  Dan Morgan told himself he would forget Ann Tu...  adventure
1                           He was well rid of her .  adventure
2  He certainly didn't want a wife who was fickle...  adventure
3  If he had married her , he'd have been asking ...  adventure
4              But all of this was rationalization .  adventure

In [3]:
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    doc = re.sub(r'[^a-zA-Z\s]', '', doc, re.I | re.A)
    doc = doc.lower()
    doc = doc.strip()
    tokens = wpt.tokenize(doc)
    filtered_tokens = [token for token in tokens if token not in stop_words]
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

In [4]:
norm_corpus = normalize_corpus(brown_df)
print(brown_df.head(10))
print("="*50)
print(norm_corpus[:10])

                                            sentence   category
0  Dan Morgan told himself he would forget Ann Tu...  adventure
1                           He was well rid of her .  adventure
2  He certainly didn't want a wife who was fickle...  adventure
3  If he had married her , he'd have been asking ...  adventure
4              But all of this was rationalization .  adventure
5  Sometimes he woke up in the middle of the nigh...  adventure
6  His plans and dreams had revolved around her s...  adventure
7  The easiest thing would be to sell out to Al B...  adventure
8  The best antidote for the bitterness and disap...  adventure
9  He found that if he was tired enough at night ...  adventure
==================================================
[['dan morgan told would forget ann turner' 'adventure']
 ['well rid' 'adventure']
 ['certainly didnt want wife fickle ann' 'adventure']
 ['married hed asking trouble' 'adventure']
 ['rationalization' 'adventure']
 ['sometimes woke middle night thinking ann could get back sleep'
  'adventure']
 ['plans dreams revolved around much long felt nothing' 'adventure']
 ['easiest thing would sell al budd leave country stubborn streak wouldnt allow'
  'adventure']
 ['best antidote bitterness disappointment poisoned hard work'
  'adventure']
 ['found tired enough night went sleep simply exhausted stay awake'
  'adventure']]

In [5]:
idx = np.random.randint(norm_corpus.shape[0], size=10000)
norm_corpus2 = norm_corpus[idx,:]

In [6]:
bv = CountVectorizer(ngram_range=(3, 3))
bv_matrix = bv.fit_transform(norm_corpus2[:,0])

bv_matrix = bv_matrix.toarray()
vocab = bv.get_feature_names()
pd.DataFrame(bv_matrix, columns=vocab)

,abandon completely mythological,abandon part since,abandon sense story,abandon ship given,abandoned career bar,abandoned felt hoped,abandoned property act,abandoned role engage,abandoned shortly entire,abandoning public education,...,zing slippery know,zion said uncomfortably,zion stayed get,zodiacal light gegenschein,zoned classification similar,zones around naval,zoo averaged inches,zoo live quetzal,zoo wife rare,zq equal one
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 1.3.6 Exercise: TF-IDF
Now, using anyone of the following datasets, create you're own TF-IDF implementation. Provide your output in the form of a matrix.

For more on the intuition behind TF-IDF, read the article here.

Refer to this article related to TF-IDF and Elastisearch. Note how the TF-IDF approach can be used for information retrieval.

Datasets that you may choose from:

Reviews Dataset. this dataset uses classified data from Yelp!, Amazon, and IMBD. You can use this to determine TF-IDF across the datasets.
Presidential speeches in NLTK. You can use this dataset to determine the TFIDF vector of words across presidential speeches.
nltk.corpus.inaugural
Please provide your code in the cell below.

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/atreish/AIM_5011_Natural_Language_Processing/main/yelp_labelled.txt',names=['reviews', 'label'], sep='\t')
data.head()

                                             reviews  label
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [8]:
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(data.reviews)
cv_matrix

<1000x2035 sparse matrix of type '<class 'numpy.int64'>'
	with 9781 stored elements in Compressed Sparse Row format>

In [9]:
tv = TfidfVectorizer(min_df=0.,max_df=1.,norm='l2',use_idf=True,smooth_idf=True)
tv_matrix = tv.fit_transform(data.reviews)
tv_matrix = tv_matrix.toarray()

vocab = tv.get_feature_names()
tv_df  = pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)
display(tv_df)

,00,10,100,11,12,15,17,1979,20,2007,...,yelpers,yet,you,your,yourself,yucky,yukon,yum,yummy,zero
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Training Data**

In [10]:
bv1 = CountVectorizer(ngram_range=(3, 3))
bv_matrix1 = bv1.fit_transform(norm_corpus[:,0])
vocab1 = bv1.get_feature_names()